<launch>

  <include file="$(find uibk_robot)/launch/upload.launch" />

  <include file="$(find uibk_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="false" />
  </include>
  
  <rosparam command="load" file="$(find uibk_moveit_config)/config/kinematics.yaml"/>
    
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uibk_pick_place)/rviz.rviz"/>
  
</launch>
